{% extends 'base.html.twig' %}

{% block title %}Hello EnergieController!{% endblock %}

{% block body %}
    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset('img/puiser.jpg  ') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <div class="offset-3 col-6">
        <div class="card" id="puisage" style="margin-top: 25em">
            <a id="puiser" style="font-size: 3em" class="btn alert-success btn-light">
              puiser
            </a>
        </div>
    </div>

    <script type="text/javascript">
        $(document).on('click','#puiser',function (event) {
            let audio  = new Audio('music/pute.mp3');
            audio.play();
            $('#puisage').html('<span style="font-size: 3em" class="btn alert-success btn-light">puisage en cours</span>');
            window.setTimeout(function(){
                window.location.href = '/';
            }, 4500);
        });
    </script>

{% endblock %}
