{% extends 'base.html.twig' %}

{% block title %}Votre Profil{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url({{ asset('img/profil_background.jpg') }});
        }
    </style>

<div class="container bottom-padding" style="background-color:white; margin-top: 8em; border-radius: 10px">
    <div class="row">
        <div class="col-sm-12 text-center"><h1>{{app.user.username}}</h1></div>
        <div style="font-size: 1.2em" class="col-sm-12 text-center"><span>{{app.user.email}}</span></div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt-5"><h1>Inventaire</h1></div>
        <div class="mx-3 row" style="border-style: solid; border-color: black">
            {% for item in inventory %}
            <img src="{{ asset(item.produit.image) }}" class="img-fluid my-5" alt="oui">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}