{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset('img/gegralt_de_la_grive.jpg') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <h1>Inscription</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Inscription</button>

    {{ form_end(form) }}

{% endblock %}

