html{
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 19px;
    background: #007bff;
}

footer p {
    margin-top: 15px;
    opacity: 0.7;
    color: #ffffff;
}

.bottom-padding{
    height: 100%;
    padding-bottom: 350px;
}

.blue{
    color:#b8daff !important;
}

#nomMarche{
    font-family: "Cambria", "Arial";
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    border:solid;
    border-color: lightgreen;
    border-radius: 3px;
    background: lightgreen;
    box-shadow: 0 3px 2px  #1c7430;
}

.produitsDuMarche {
    font-family: "Britannic Bold";
    font-size:30px;
    margin-top: 70px;
}

.image{
    padding-left: 100px;
    width:100%;
    height: 100%;
    max-height: 300px;
    max-width:260px;
}

.le-produit {
    margin-left: -1.40em;
    border-style: groove;
    border-width: 6px;
    border-radius: 1%;
    border-color: #046802;
    padding: 10px 0 10px 10px;
    box-shadow: 2px 2px 2px lightgreen;
}

.tamere{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


#richard{
    position: fixed;
    right: 5px;
}

.lien-marche:hover{
    text-decoration: none
}

.lien-marais:hover{
    text-decoration: none;
}

.nbCouronnes{
    color: #00baff;
    text-shadow: black 1px 1px ;
}

.welcomeUser{
    color: #00baff;
    text-shadow: black 2px 1px 1px;
}

.prix-produit{
    color: #0094ff;
    border-style: groove;
    border-radius: 1px;
    border-width: 0.1em;
    box-shadow: 0 0 0.1em 0.05em #0094ff;
    background-color: rgb(237,248,255);

}

#vaillefandre:hover{
    color: #9fcdff;

}

.nav-link{
    transition: 0.5s;
}

.nav-link:hover{
    transform: scale(1.1,1.1);
}

#card-marche{
    background-color: cornflowerblue;
    box-shadow: -1px 2px 2px black;
    color: #23272b;
    font-size: 20px;
    font-style: italic;

}

#card-list-marche{
    box-shadow: -1px 2px 2px black;
    background-color: cornflowerblue;
    font-size: 3em;
    color:#121416;
}

#megaboite{
   width: 500px;
    margin-top: 10em;

}

.img-collegue-brolstar{
    display: block;
    height: 3em;
    width: 3em;
}

