{% extends 'base.html.twig' %}

{% block title %}Hello Marais!{% endblock %}

{% block body %}
    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset('img/geralt_de_la_rive.jpg') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    {% for marais in maraiss %}
        <div class="col-6 offset-3">
            <div class="card mt-5 text-center">
                <p> Accéder au marais : </p>
                <p> {{ marais }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
