{% extends 'base.html.twig' %}

{% block title %}Hello Marais!{% endblock %}

{% block body %}
    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset('img/geralt_de_la_rive.jpg') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    {% for marais in maraiss %}
        <div class="col-6 offset-3">
            <div class="card mt-5 text-center">
                <h1> Accéder aux marais </h1>
                <p>Accéder à un marais permet d'y trouver tous ses marchés</p>
            </div>
            <div class="card mt-3 text-center">
                <a style="font-size: 3em" href={{ path('marais_show', { 'id': marais.id } ) }} >{{ marais }} </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
