{% extends 'base.html.twig' %}
{% block title %}Marchés du marais {% endblock %}

{% block body %}

    <ul>
        {% for marche in marches %}
            <li>{{ marche }}</li>
        {% endfor %}
    </ul>
{% endblock %}