{% extends 'base.html.twig' %}
{% block title %}Marchés du marais {% endblock %}

{% block body %}
    <style>
        body{
            background-image:url({{ asset('img/geralt_de_la_rive.jpg') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    {% for marche in marches %}
        <div class="col-6 offset-3">
            <a class="lien-marche" href={{ path('marche_show', { 'id': marche.id } ) }} >
                <div class="card mt-3 text-center"
                     style="box-shadow: -1px 2px 2px black;
                            background-color: forestgreen; font-size: 3em; color:black">
                    {{ marche }}
                    <p class="mt-n2" style="font-size: 0.4em"> {{ marche.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}

{% endblock %}