{% extends 'base.html.twig' %}
{% block title %}Marchés du marais {% endblock %}

{% block body %}

    {% for marche in marches %}
        <div class="col-6 offset-3">
            <div class="card mt-3 text-center">
                <a style="font-size: 3em" href={{ path('marche_show', { 'id': marche.id } ) }} >{{ marche }} </a>
                <p class="mt-n2"> {{ marche.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}