{% extends 'base.html.twig' %}

{% block title %}Créer ton produit ^^^' ^^{% endblock %}

{% block body %}
    <style>
        .creation{
            margin-top: 50px;
        }
    </style>

    <section class="creation">
        <div>
            <form enctype="multipart/form-data" name="produit" method='post'>
            {{ form_row(formProduit.name, {'attr' :{ 'placeholder' : 'le grarais...'}}) }}
            {{ form_row(formProduit.type, {'attr' :{'placeholder' :'type de descritpion'}}) }}
            <label for="image">Image</label> <br>
            <input type="file" name="image" id="image"> <br> <br>
            <button class="btn btn-success">Créer le produit</button> <br>
            {{ form_end(formProduit) }}
        </div>

    </section>
{% endblock %}