{% extends 'base.html.twig' %}

{% block title %}Hello MarcheController!{% endblock %}

{% block body %}
    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset('img/marchedegeralt.jpg') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    {% for produit in produits %}
        <h1>Salut les poieur</h1>
    {% endfor %}



{% endblock %}
