{% extends 'base.html.twig' %}

{% block title %}Hello MarcheController!{% endblock %}

{% block body %}
    <style>
        body {
            color:black;
            background-color:white;
            background-image:url({{ asset('img/marchedegeralt.jpg') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <div style="margin-top: 13em"></div>
    {% for marche in marches %}
        <div class="col-6 offset-3">
            <div class="card mt-5 text-center">
                <p> Accéder au marais : </p>
                <p> {{ marche }}</p>
            </div>
        </div>
    {% endfor %}




{% endblock %}
