{% extends 'base.html.twig' %}
{% block title %}Marchés{% endblock %}

{% block body %}
    <div id="nomMarche">
        <h1 class="text-lg-center">{{ marche.name }}</h1>
        <h3 class="blockquote">{{ marche.description }}</h3>
    </div>

    <ul class="produitsDuMarche">
        {% for produit in produits %}
            <p class="le-produit">{{ produit }}
                <img src="{{ asset(produit.getImage()) }}" class="image"> </p>
        {% endfor %}
    </ul>
{% endblock %}