{% extends 'base.html.twig' %}
{% block title %}Marchés{% endblock %}

{% block body %}
    <h1>Bienvenue au marché  {{ marche.name }}</h1>
    <h3>{{ marche.description }}</h3>

    <ul>
        {% for item in produits %}
            {{ item }}
        {% endfor %}
    </ul>
{% endblock %}