{% extends 'base.html.twig' %}

{% block title %}Hello TbController!{% endblock %}

{% block body %}
   <style>
       body {
           color:black;
           background-color:white;
           background-image:url({{ asset('img/accueil.jpg') }});
           background-attachment:fixed;
           background-size: cover;
           background-repeat: no-repeat;

       }
   </style>
<div class="col-6 offset-3">
    <div class="card mt-5 text-center">
        <p> Bienvenue au marché de postegrechine ! </p>
        <p> inscrivez vous afin de pouvoir accéder aux différents services proposés par nos marais
            tels que <span style="color: red; font-weight: bold;"> le puisage d'énergie</span> </p>

        <a style="font-size: 5em" href="{{ path('security_registration') }}"> s'inscrire </a>
    </div>
</div>

{% endblock %}

