{% extends 'base.html.twig' %}

{% block title %}Contrats{% endblock %}

{% block body %}
    <style>
        body{
            background-image:url("{{ asset('img/contratsimagefond.png') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

    </style>

    <div id="contrats-div" class="text-center mt-5">
        <img src="{{ asset('img/peanneau-des-putes.jpg') }}" alt="PanneauContrats">
    </div>

{% endblock %}
