{% extends 'base.html.twig' %}

{% block title %}Hello PackOpeningController!{% endblock %}

{% block body %}
    <div>
        <img src="{{ asset('img/megaboite.png') }}" alt="megaboite">
    </div>
{% endblock %}
